In [4]:
# getting input from the user; the built-in  input function requests and obtains user input:
name = input("what is your surname ?")
# firstly, input displays its string argument called a prompt to tell the user what to type and wait for the user to respond.
# we typed Agwulonu and pressed enter
# the input function then returns Agwulonu as a string that the program can use 
# input function always return a string

what is your surname ? Agwulonu

In [5]:
name

'Agwulonu'

In [8]:
print(name)

Agwulonu

In [31]:
# getting an integer from the user, the need to convert the string to an integer using the int function is necessary
concentration_of_piroxicam = int(input(" :"))

 : 20

In [21]:
concentration_of_piroxicam = int(concentration_of_piroxicam)

In [22]:
concentration_of_piroxicam

20

In [33]:
# the built-in int funtion converts a floating point value to an integer or converts a string representation of an integer to an integer value
float('6.2') * 3.3

20.46

In [ ]:
# a string is a series of character, anything inside a quote is considered a string in python, it can either be double or single quotes.
# eg "i love my wife"  , 'azaya is a good guy'  , '''my sister is a foolish human'''

In [37]:
# changing case in a string with methods: this include .title(), .upper(), .lower()   etc
# eg 
name = "rosemary orji ozua"
(name.title())

'Rosemary Orji Ozua'

In [38]:
(name.upper())

'ROSEMARY ORJI OZUA'

In [39]:
(name.lower())

'rosemary orji ozua'

In [43]:
# in some situation , you'll want to use variable's value inside a string
# to insert a variable inside a string , the letter "f" is placed before the opening quotation mark, 
# a curly braces "{}" should be around the variable you want to use inside the string.
# "f" is for format, f-string is known as a formatted string.

company_name = "roziel"
products = "pharmacy"
full_name = f"{company_name} {products}"
(f"hello , {full_name.title()} ")

'hello , Roziel Pharmacy '

In [44]:
# in programming, whitespace refers to any nonprinting character, such as spaces, tabs, and end-of-line symbols
# \t (tab), \n(new line), \n\t (new line with a tab)
("roziel")

'roziel'

In [51]:
print("\tRoziel")   # \t (tab)

	Roziel

In [52]:
print('\nroziel')  #\n (new line)

roziel

In [53]:
print('\n\troziel')

	roziel

In [54]:
# whitespaces can be confusing in programming, there is a need to strip them off using the (.rstrip()), (.lstrip()) or the (.strip()) method.
favorite_medicine = "   ceftriaxone"
(favorite_medicine)

'   ceftriaxone'

In [55]:
favorite_medicine = "    ceftriaxone"
(favorite_medicine.strip())

'ceftriaxone'

In [58]:
favorite_medicine = "ceftriaxone     "
(favorite_medicine.rstrip())

'ceftriaxone'

In [59]:
favorite_medicine = "       ceftriaxone"
(favorite_medicine.lstrip())

'ceftriaxone'

In [60]:
# exercise
first_name = "dozie"
(f"Hello {first_name.title()}, would you like to eat garri today")

'Hello Dozie, would you like to eat garri today'

In [61]:
adults_names = 'kachi' 
(adults_names.lower())

'kachi'

In [62]:
adults_names = 'kachi' 
(adults_names.upper())

'KACHI'

In [63]:
adults_names = 'kachi' 
(adults_names.title())

'Kachi'

In [66]:
first_name = " albert"
last_name = "einsteine"
(f'''{first_name.title()} {last_name.title()} once said, "A person who ever made a mistake never tried anything new".''')

' Albert Einsteine once said, "A person who ever made a mistake never tried anything new".'

In [76]:
first_name = "malawi"
last_name = "akoluche"
famous_name = f"{first_name} {last_name}"
message = f" Hello, i am Mr {famous_name.title()}."
(message.strip())

'Hello, i am Mr Malawi Akoluche.'

In [77]:
# a list is a collection of items in a particular order, it can either be an alphabet or numbers, the name of a list is better in plural form
# "[]" indicates a list, individual elements in a list are seperated by commas.
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
(cities)

['lagos', 'abuja', 'kano', 'kaduna', 'osun']

In [79]:
# you can access any element in a list by telling python the position or index of the item desired
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
(cities[0])
# index 0 will give the first occurence , index 1, will give the second occurence etc

'lagos'

In [81]:
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
(cities[1])

'abuja'

In [82]:
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
(cities[3])

'kaduna'

In [83]:
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
(cities[1].title())

'Abuja'

In [85]:
# you can also use individual value from a list
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
message = f"i lived in {cities[0].title()}."
(message)

'i lived in Lagos.'

In [86]:
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
message = f"i lived in {cities[2].title()}."
(message)

'i lived in Kano.'

In [87]:
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
message = f"i lived in {cities[3].upper()}."
(message)

'i lived in KADUNA.'

In [88]:
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
message = f"i lived in {cities[2].lower()}."
(message)

'i lived in kano.'

In [89]:
# changing, adding and removing elements from a list acan be dynamic, it involves building a list and then add and removing element from it.
# we can actually modify an element in a list ; eg 
antacids = ['gestid' , 'acipep' , 'relcer' , 'gaviscon' , 'jawasil']
(antacids)

['gestid', 'acipep', 'relcer', 'gaviscon', 'jawasil']

In [91]:
antacids[1] = 'grenocid'    # i am trying to modify the initial list by replacing acipep with grenocid
(antacids)

['gestid', 'grenocid', 'relcer', 'gaviscon', 'jawasil']

In [92]:
# we can also add elements into a list by using the "append" :eg
antacids = ['gestid' , 'acipep' , 'relcer' , 'gaviscon' , 'jawasil']
antacids.append('rulox')  # i am trying to add rulox into the original list
(antacids)

['gestid', 'acipep', 'relcer', 'gaviscon', 'jawasil', 'rulox']

In [93]:
# we can start with an emtpty list "[]" and add items into it using series of append: eg 
analgesics =[]
analgesics.append('diclofenac')
analgesics.append('naproxen')
analgesics.append('ibuprofen')
analgesics.append('paracetamol')
(analgesics)

['diclofenac', 'naproxen', 'ibuprofen', 'paracetamol']

In [96]:
# inserting an element into a list CAN BE DONE AT ANY POSITION by using the "insert()method"
antacids = ['gestid' , 'acipep' , 'relcer' , 'gaviscon' , 'jawasil']
antacids.insert(3,'nazaneen')
(antacids)

['gestid', 'acipep', 'relcer', 'nazaneen', 'gaviscon', 'jawasil']

In [97]:
# removing an item can be done according to their position or its value
# removing based on its position , the "del" statement if the position is known.
foods = ['rice' , 'beans' , 'yam' , 'garri' , 'egusi' , 'ogbono']
del foods[1]
(foods)

['rice', 'yam', 'garri', 'egusi', 'ogbono']

In [103]:
# removing using the pop() method, it removes the last item in a list, but allows you you to work with it after removing it
foods = ['rice' , 'beans' , 'yam' , 'garri' , 'egusi' , 'ogbono']
popped_foods = foods.pop()
(foods)

['rice', 'beans', 'yam', 'garri', 'egusi']

In [104]:
(popped_foods)

'ogbono'

In [105]:
# you can pop() to remove an item from any position in a list by including the index of the item you want to remove
antacids = ['gestid' , 'acipep' , 'relcer' , 'gaviscon' , 'jawasil']
recently_used_antacids = antacids.pop(3)
(f"the antacid i used recently was {recently_used_antacids.title()}")

'the antacid i used recently was Gaviscon'

In [106]:
# removing an item based on value involves using the remove() method
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
cities.remove('kano')
(cities)

['lagos', 'abuja', 'kaduna', 'osun']

In [107]:
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
disliked_city = 'kaduna'
cities.remove(disliked_city)
(cities)

['lagos', 'abuja', 'kano', 'osun']

In [109]:
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
too_expensive = 'lagos'
cities.remove(too_expensive)
print(f'\n{too_expensive.title()} is too expensive to live in')

Lagos is too expensive to live in

In [110]:
# the sort() method makes it relatively easy to sort a list, it changes the order of the list permanently.
antibiotics = ['amoxicilline' , 'mupirocin' , 'cefixime' , 'ofloxacin', 'azithromycin', 'doxycycline']
antibiotics.sort()
(antibiotics)

['amoxicilline',
 'azithromycin',
 'cefixime',
 'doxycycline',
 'mupirocin',
 'ofloxacin']

In [111]:
# the reverse=True to the sort() method can sort the list in the reverse alphabetical order
antibiotics = ['amoxicilline' , 'mupirocin' , 'cefixime' , 'ofloxacin', 'azithromycin', 'doxycycline']
antibiotics.sort(reverse=True)
(antibiotics)

['ofloxacin',
 'mupirocin',
 'doxycycline',
 'cefixime',
 'azithromycin',
 'amoxicilline']

In [113]:
# the sorted() function allows you display your list in a particular order but doesnt affect the actual order of the list.
# the sorted() function can also accept a reverse=true argument
antibiotics = ['amoxicilline' , 'mupirocin' , 'cefixime' , 'ofloxacin', 'azithromycin', 'doxycycline']
('original list')
(antibiotics)

['amoxicilline',
 'mupirocin',
 'cefixime',
 'ofloxacin',
 'azithromycin',
 'doxycycline']

In [114]:
antibiotics = ['amoxicilline' , 'mupirocin' , 'cefixime' , 'ofloxacin', 'azithromycin', 'doxycycline']
('sorted list')
(sorted(antibiotics))

['amoxicilline',
 'azithromycin',
 'cefixime',
 'doxycycline',
 'mupirocin',
 'ofloxacin']

In [115]:
# the reverse() method can be used to reverse the original order of a list, it changes the order of the list permanently
# it does not sort backwards alphabetically
antacids = ['gestid' , 'acipep' , 'relcer' , 'gaviscon' , 'jawasil']
antacids.reverse()
(antacids)

['jawasil', 'gaviscon', 'relcer', 'acipep', 'gestid']

In [117]:
# to find the lenght of a list, the len() function is used.
cities = ['lagos', 'abuja' , 'kano' , 'kaduna', 'osun']
len(cities)

5

In [124]:
# looping through an entire list allows you to do the same action with every item in a list using the "for loop"
anticeptics = ['dettol' , 'izal' , 'savlon']
for anticeptic in anticeptics:
    print(anticeptic)

dettol
izal
savlon

In [129]:
foods = ['rice' , 'beans' , 'yam' , 'garri' , 'egusi' , 'ogbono']
for food in foods:
    print(f" i enjoy eating {food.strip().title()} in the morning")

 i enjoy eating Rice in the morning
 i enjoy eating Beans in the morning
 i enjoy eating Yam in the morning
 i enjoy eating Garri in the morning
 i enjoy eating Egusi in the morning
 i enjoy eating Ogbono in the morning

In [130]:
foods = ['rice' , 'beans' , 'yam' , 'garri' , 'egusi' , 'ogbono']
for food in foods:
    #print(f" i enjoy eating {food.strip().title()} and in the morning")
    print(f"my wife prepares {food.strip().title()} anytime she is happy")

my wife prepares Rice anytime she is happy
my wife prepares Beans anytime she is happy
my wife prepares Yam anytime she is happy
my wife prepares Garri anytime she is happy
my wife prepares Egusi anytime she is happy
my wife prepares Ogbono anytime she is happy

In [132]:
foods = ['rice' , 'beans' , 'yam' , 'garri' , 'egusi' , 'ogbono']
for food in foods:
    print(f"i enjoy eating {food.strip().title()} and in the morning")
    print(f"my wife prepares {food.strip().title()} anytime she is happy.\n")

i enjoy eating Rice and in the morning
my wife prepares Rice anytime she is happy.

i enjoy eating Beans and in the morning
my wife prepares Beans anytime she is happy.

i enjoy eating Yam and in the morning
my wife prepares Yam anytime she is happy.

i enjoy eating Garri and in the morning
my wife prepares Garri anytime she is happy.

i enjoy eating Egusi and in the morning
my wife prepares Egusi anytime she is happy.

i enjoy eating Ogbono and in the morning
my wife prepares Ogbono anytime she is happy.

In [133]:
foods = ['rice' , 'beans' , 'yam' , 'garri' , 'egusi' , 'ogbono']
for food in foods:
    print(f"i enjoy eating {food.strip().title()} and in the morning")
    print(f"my wife prepares {food.strip().title()} anytime she is happy.\n")
print('thank you') # this is not part of the for loop because it is not indented and executed once

i enjoy eating Rice and in the morning
my wife prepares Rice anytime she is happy.

i enjoy eating Beans and in the morning
my wife prepares Beans anytime she is happy.

i enjoy eating Yam and in the morning
my wife prepares Yam anytime she is happy.

i enjoy eating Garri and in the morning
my wife prepares Garri anytime she is happy.

i enjoy eating Egusi and in the morning
my wife prepares Egusi anytime she is happy.

i enjoy eating Ogbono and in the morning
my wife prepares Ogbono anytime she is happy.

thank you

In [145]:
# using the range() function makes it easy to generate a series of numbers, it does not include the last number on the list
for value in range(1, 10):
    print(value)

1
2
3
4
5
6
7
8
9

In [142]:
# using the range() fuction to make a list of numbers
numericals = list(range(1, 20))
(numericals)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [146]:
even_numbers = list(range(2, 21, 2)) # this is how to list even numbers between 1 and 20
(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [147]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
min(digits) # this is to get the minimum number in the list

1

In [148]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
max(digits) # this is to get the maximum number inthe list

10

In [149]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(digits) # this enable me to sum the digits

55

In [153]:
# slicing a list involves specifying the index of the first and last element you want to work with.
chelsea_players = ['palmer' , 'jackson' , 'neto' , 'sancho' , 'colwill' , 'cucurella' , 'enzo' , 'nkuku', 'caicedo']
(chelsea_players[0:4])

['palmer', 'jackson', 'neto', 'sancho']

In [154]:
chelsea_players = ['palmer' , 'jackson' , 'neto' , 'sancho' , 'colwill' , 'cucurella' , 'enzo' , 'nkuku', 'caicedo']
(chelsea_players[:]) # an empty square bracket with a colon , gives the entire element in the list

['palmer',
 'jackson',
 'neto',
 'sancho',
 'colwill',
 'cucurella',
 'enzo',
 'nkuku',
 'caicedo']

In [155]:
chelsea_players = ['palmer' , 'jackson' , 'neto' , 'sancho' , 'colwill' , 'cucurella' , 'enzo' , 'nkuku', 'caicedo']
(chelsea_players[:4]) # without the starting index, python starts at the begining of the list.

['palmer', 'jackson', 'neto', 'sancho']

In [156]:
chelsea_players = ['palmer' , 'jackson' , 'neto' , 'sancho' , 'colwill' , 'cucurella' , 'enzo' , 'nkuku', 'caicedo']
(chelsea_players[-3:]) # this prints the names of the last three chelsea players

['enzo', 'nkuku', 'caicedo']

In [159]:
# you can use a slice in a for loop if you want to loop through a subset of the elements in a list.
arsenal_players = ['raya', 'gabriel', 'saliba', 'timber', 'rice', 'saka', 'martinelli', 'odegaard', 'kai', 'partey']
("here are the first six players on arsenal team:")
#for player in arsenal_players[:6]:
   # print(player.title())

'here are the first six players on arsenal team:'

In [160]:
# you can use a slice in a for loop if you want to loop through a subset of the elements in a list.
arsenal_players = ['raya', 'gabriel', 'saliba', 'timber', 'rice', 'saka', 'martinelli', 'odegaard', 'kai', 'partey']
("here are the first six players on arsenal team:")
for player in arsenal_players[:6]:
    print(player.title())

Raya
Gabriel
Saliba
Timber
Rice
Saka

In [162]:
# to copy a list , i can make the the slice that includes the entire original list by omitting the first and second index.
chelsea_players = ['palmer' , 'jackson' , 'neto' , 'sancho' , 'colwill' , 'cucurella' , 'enzo' , 'nkuku', 'caicedo']
best_chelsea_player = chelsea_players[:]
(chelsea_players)

['palmer',
 'jackson',
 'neto',
 'sancho',
 'colwill',
 'cucurella',
 'enzo',
 'nkuku',
 'caicedo']

In [164]:
chelsea_players = ['palmer' , 'jackson' , 'neto' , 'sancho' , 'colwill' , 'cucurella' , 'enzo' , 'nkuku', 'caicedo']
best_chelsea_player = chelsea_players[:]
(best_chelsea_player)

['palmer',
 'jackson',
 'neto',
 'sancho',
 'colwill',
 'cucurella',
 'enzo',
 'nkuku',
 'caicedo']

In [165]:
chelsea_players = ['palmer' , 'jackson' , 'neto' , 'sancho' , 'colwill' , 'cucurella' , 'enzo' , 'nkuku', 'caicedo']
best_chelsea_player = chelsea_players[:]
chelsea_players.append('sanchez')
(chelsea_players)

['palmer',
 'jackson',
 'neto',
 'sancho',
 'colwill',
 'cucurella',
 'enzo',
 'nkuku',
 'caicedo',
 'sanchez']

In [167]:
chelsea_players = ['palmer' , 'jackson' , 'neto' , 'sancho' , 'colwill' , 'cucurella' , 'enzo' , 'nkuku', 'caicedo']
best_chelsea_player = chelsea_players[:]
best_chelsea_player.append('madueke')
(best_chelsea_player)

['palmer',
 'jackson',
 'neto',
 'sancho',
 'colwill',
 'cucurella',
 'enzo',
 'nkuku',
 'caicedo',
 'madueke']

In [170]:
# a Tuple is an immutable list, 
# its value cannot change, 
# it looks like a list but it uses the "()" instead of "[]"
dimensions = (300, 100)
(dimensions[0])
#(dimensions[1])

300

In [171]:
dimensions = (300, 100)
#(dimensions[0])
(dimensions[1])
# if you want to change the item, it gives an error
# if you want to define a tuple with one element, you need to include a trailing comma. eg my_age = (36,)

100

In [173]:
# you can loop through all values in a tuple using the for loop just as we did for list
dimensions = (300, 100)
for dimension in dimensions:
    print(dimension)

300
100

In [174]:
buffet_style_restaurant = ('egg', 'salad','chops','samosa', 'sausage')
for food in buffet_style_restaurant:
    print(food)

egg
salad
chops
samosa
sausage

In [175]:
buffet_style_restaurant = ('egg', 'salad','chops','samosa', 'sausage')
type(buffet_style_restaurant)

tuple

In [178]:
# the if tests allows you to repond to special situations correctly
# the conditional test is at the heart of every if statement and has an expression that can be evaluated as True or False.
# python uses the values True and False to decide whether the code in an if statement should be executed.
# if a conditional test evaluates to True, python excutes the code following the if statement.
# most conditional test compare the current value of the variable to a specific value of interest (checking for equality)
# testing for equality is case sensitive in python.
# the use of != indicates the inequality sign in python.
# the boolean expression is a condition test , boolean value is either True or False
NTA_zone_pharmacies = ['roziel', 'joniel', 'maximum', 'evergreen', 'sazel', 'fishpie', 'dogmeat']
for pharmacy in NTA_zone_pharmacies:
    if pharmacy == 'roziel': # the loop checks if the current value of pharmacy is roziel
        print(pharmacy.upper()) # it prints it if the value is true and in upper case
    else:
        print(pharmacy.title()) # it prints if the value of pharmacy is other than roziel

ROZIEL
Joniel
Maximum
Evergreen
Sazel
Fishpie
Dogmeat

In [179]:
pharmacy = 'roziel'
pharmacy == 'roziel' # this equality operator returns True if the values on the left and right side of the operator match

True

In [180]:
pharmacy = 'roziel'
pharmacy == 'joniel' # this will return False as roziel doesnt match joniel

False

In [185]:
pharmacy = 'Roziel'
pharmacy == 'roziel' # two values with different capitalization are not considered equal

False

In [184]:
pharmacy = 'Roziel'
pharmacy.lower() == 'roziel'

True

In [186]:
age = 20
age == 20

True

In [187]:
age = 30
age < 35

True

In [188]:
age <= 40
age > 42

False

In [189]:
quantity = 100
if quantity != 105: # the not equal sign was used here
    print("look for the rest and come back")

look for the rest and come back

In [191]:
roziel_inventory1 = 950
roziel_inventory2 = 1000
roziel_inventory1 >= 900 and roziel_inventory2 <= 1500 # the "and" symbol conbine the two conditional test, if either test passes, it prints True

True

In [196]:
roziel_inventory1 = 950
roziel_inventory2 = 1000
roziel_inventory1 <= 900 or roziel_inventory2 >=1000 # the "or" symbol passes when either or both indivdual test passes, it fails only when both tests fails.

True

In [197]:
# to check whether a value is in a list.
fruits = ['mango', 'orange', 'pawpaw', 'grape','strawberry']
'grape' in fruits

True

In [198]:
# to check whether a value is not in a list.
fruits = ['mango', 'orange', 'pawpaw', 'grape','strawberry']
'tangerine' not in fruits

True

In [203]:
# to check whether a value is not in a list.
fruits = ['mango', 'orange', 'pawpaw', 'grape','strawberry']
old = 'tangerine'
if old not in fruits:
    print(f"{old.title()}, is not on the list")

Tangerine, is not on the list

In [205]:
# the simplest kind of if statements has one test and one action
age = 25
if age >= 18:
    print("you are old enough to vote") # identation plays a key role in "if"

you are old enough to vote

In [206]:
# an if-else statement is similar to a simple if-statement,but else-statement allows you to define an action if the conditional test fail.
age = 25
if age >= 30:
    print("you are old enough to view this channel")
else:
    print("sorry you are too young to view this channel")

sorry you are too young to view this channel

In [207]:
# the if-elif-else statement test more than two possible situations.
# only one block is executed in an if-elif-else statement.
age = 30
if age < 15:
    print("you are not up to the age of those with high blood pressure")
elif age >= 30:
    print("you have to check your blood pressure regularly")
else:
    print("you are fine")
# the else block is a catchall statement . it matches any condition that wasnt matched by a specific if or elif test.

you have to check your blood pressure regularly

In [209]:
list_of_drugs =['dopatab', 'flagyl', 'acycor', 'cataflam']
if 'flagyl' in list_of_drugs:
    print("include flagyl.")
if 'dopatab' in list_of_drugs:
    print("include dopatab")
if 'amoxil' in list_of_drugs:
    print("adding amoxil")
print("thank you")
# in this case, we are testing for multiple conditions, every condition here is evaluated.
# this code will not work properly if we had used the if-elif-else chain because the code would stop running after only one test passes.

include flagyl.
include dopatab
thank you

In [211]:
# using the if statements with lists helps to locate special values that need to be treated differently than other values in the list.
fruits = ['mango', 'orange', 'pawpaw', 'grape','strawberry']
for poison_fruit in fruits:
    print(f"adding {poison_fruit}")
print("\ngo and die")

adding mango
adding orange
adding pawpaw
adding grape
adding strawberry

go and die

In [212]:
fruits = ['mango', 'orange', 'pawpaw', 'grape','strawberry']
for poison_fruit in fruits:
    if poison_fruit == "pawpaw":
        print("thank you for taking it out")
    else:
        print(f"adding {poison_fruit}")
print("\ngo and die")

adding mango
adding orange
thank you for taking it out
adding grape
adding strawberry

go and die

In [215]:
# a dictionary in python is a collection of key-value pairs. each key is connected to a value.
# a key's value can be a number, a string, a list or even another dictionary.
# a dictionary is wrapped in "{}" with a series of key-value pairs inside the braces.
# a key-value pair is set of values associated with each other.
# every key is connected to its value by a colon, and individual key-value pair are seperated by a comma.
roziel_pharmacy = {'color' : 'blue' , 'number' : 245 }
(roziel_pharmacy['color'])
(roziel_pharmacy['number'])

245

In [216]:
# a new key-value pair can be added to a dictionary any time.
roziel_pharmacy = {'color' : 'blue' , 'number' : 245 }
(roziel_pharmacy)

{'color': 'blue', 'number': 245}

In [217]:
roziel_pharmacy['x_position'] = 0
roziel_pharmacy['y_position'] = 25
(roziel_pharmacy)

{'color': 'blue', 'number': 245, 'x_position': 0, 'y_position': 25}

In [218]:
# it is convenient and necessary to start with an empty dictionary and then add new item to it.
# the dictionary has to be defined with an empty set of braces "{}" and then add each key-value pair on its own line.
analgesics_medicine = {}
analgesics_medicine['diclofenac'] = 50
analgesics_medicine['naproxen'] = 500
analgesics_medicine['ibuprofen'] = 400
analgesics_medicine['celecoxib'] = 200
(analgesics_medicine)

{'diclofenac': 50, 'naproxen': 500, 'ibuprofen': 400, 'celecoxib': 200}

In [219]:
# to modify a value in a dictionary,the name of the dictionary with the key in square brackets and then the new value you want associated with that key.
roziel_pharmacy = {'color' : 'blue' , 'number' : 245 }
roziel_pharmacy['color'] = 'grey'
(roziel_pharmacy)

{'color': 'grey', 'number': 245}

In [221]:
# you can use the del statement to completely remove a key-value pair.
# all del needs is the name of the dictionary and the key that you want to remove.
analgesics_medicine = {'diclofenac': 50, 'naproxen': 500, 'ibuprofen': 400, 'celecoxib': 200}
#(analgesics_medicine)
del analgesics_medicine['naproxen']
(analgesics_medicine)
# the deleted key-value pair is removed permanently.

{'diclofenac': 50, 'ibuprofen': 400, 'celecoxib': 200}

In [239]:
# you can also use a dictionary to store one kind of information for many objects.
favorite_food = {
    'rose' : 'yam',
    'ifeanyi' : 'rice',
    'goddy' : 'bole',
    'judith' : 'plantain',
    'nancy' : 'cray_fish',
    }
food = favorite_food['ifeanyi'].title()
(f" ifeanyi's favorite food is {food}.")

" ifeanyi's favorite food is Rice."

In [243]:
# using key in "[]" to retrieve the value you're interested in from a dictionary my cause a problem if the key you asked for doesnt exist.
# for dictionaries, specifically, you can use the get() method to set a default value that will be returned if the requested key doesnt exist.
favorite_food = {
    'rose' : 'yam',
    'ifeanyi' : 'rice',
    'goddy' : 'bole',
    'judith' : 'plantain',
    'nancy' : 'cray_fish',
    }
points_value = favorite_food.get('points' , 'no points value assigned.')
(points_value)
# if the key 'points' exist in the dictionary, you'll get the corresponding value.
# in this case , it doesnt exist and we got a clean message insted of an error

'no points value assigned.'

In [245]:
favorite_food = {
    'rose' : 'yam',
    'ifeanyi' : 'rice',
    'goddy' : 'bole',
    'judith' : 'plantain',
    'nancy' : 'cray_fish',
    }
print(favorite_food['points'])
# using key in "[]" to retrieve the value you're interested in from a dictionary my cause a problem if the key you asked for doesnt exist.

KeyError: 'points'

In [252]:
# looping through all key-value pairs
roziel_client_1 = {
    'username' : 'newheaven',
    'first name' : 'tonte',
    'last name' : 'zidiri',
    }
for key , value in roziel_client_1.items():
    print(f"\nkey: {key}")
    print(f"value: {value}")

key: username
value: newheaven

key: first name
value: tonte

key: last name
value: zidiri

In [256]:
# looping through all the keys in a dictionary involves using the keys() method since i dont need to work with values
favorite_food = {
    'rose' : 'yam',
    'ifeanyi' : 'rice',
    'goddy' : 'bole',
    'judith' : 'plantain',
    'nancy' : 'cray_fish',
    }
for name in favorite_food.keys():
    print(name.title())

Rose
Ifeanyi
Goddy
Judith
Nancy

In [265]:
staffs_tribes = {
'martha':'ogun', 
'victoria':'kalabari',
'silver':'igbo',
'razaki':'yoruba'
}
pals = ['razaki', 'silver']
for name in staffs_tribes.keys():
    print(name.title())
    if name in pals:
        tribe = staffs_tribes[name].title()
        print(f"\t{name.title()}, i see you love {tribe}")

Martha
Victoria
Silver
	Silver, i see you love Igbo
Razaki
	Razaki, i see you love Yoruba

In [279]:
favorite_food = {
    'rose' : 'yam',
    'ifeanyi' : 'rice',
    'goddy' : 'bole',
    'judith' : 'plantain',
    'nancy' : 'cray_fish',
    }
neigbours = ['ifeanyi' , 'goddy']
for name in favorite_food.keys():
    print(name.title())
    if name in neigbours:
        food = favorite_food[name].title()
        print(f"\t{name.title()}, i see you love {food} ")
# you can access the value associated with any key you care about inside a loop by using the current key.
# the key() method isn't just for looping: it actually returns a list of all the keys.

Rose
Ifeanyi
	Ifeanyi, i see you love Rice
Goddy
	Goddy, i see you love Bole
Judith
Nancy

In [280]:
# looping through a dictionary returns the items in the same order they were inserted.
# you can use the sorted() function to get a copy of the keys in order 
staffs_tribes = {
'martha':'ogun', 
'victoria':'kalabari',
'silver':'igbo',
'razaki':'yoruba'
}
for name in sorted(staffs_tribes.keys()):
    print(f"{name.title()}, thank you for working at roziel.")
# the for statement is like other for statement except that we've wrapped the sorted() function around the dictionary.keys() method

Martha, thank you for working at roziel.
Razaki, thank you for working at roziel.
Silver, thank you for working at roziel.
Victoria, thank you for working at roziel.

In [283]:
# looping through all values in a dictionary involves using the values() method to return the list of values without any keys.
favorite_food = {
    'rose' : 'yam',
    'ifeanyi' : 'rice',
    'goddy' : 'bole',
    'judith' : 'plantain',
    'nancy' : 'cray_fish',
    }
for food in favorite_food.values():
    print(food.title())
# the for statement pulls each value from the dictionary and assign it to the variable "food"    
# this approach pulls all the values from the dictionary without checking for repeats, this might work fine with a small number of values, 
    # but in a poll of large respondents,this would result in a very repetitive list.

Yam
Rice
Bole
Plantain
Cray_Fish

In [284]:
# to see each food choosen without repetition, we can use a "set"
    # a set is a collection in which each item must be unique.
favorite_food = {
    'rose' : 'yam',
    'ifeanyi' : 'rice',
    'goddy' : 'bole',
    'judith' : 'plantain',
    'nancy' : 'cray_fish',
    'uju' : 'rice',
    }
for food in set(favorite_food.values()):
    print(food.title())
    # when you wrap set() around a list containing duplicate items, python identifies it.

Plantain
Rice
Cray_Fish
Bole
Yam

In [285]:
# nesting is an act of storing multiple dictionaries in a list , or a list of items as a value in a dictionary.
# you can nest dictionaries inside a list, a list of items inside a dictionary, or even a dictionary inside another dictionary.
cephalosporin_0 = {'colour' : 'green' , 'conc' : 50}
cephalosporin_1 = {'colour' : 'black' , 'conc' : 100}
cephalosporin_2 = {'colour' : 'green' , 'conc' : 500}
cephalosporins_pharmacy = [cephalosporin_0, cephalosporin_1, cephalosporin_2]
for antibiotics in cephalosporins_pharmacy:
    print(antibiotics)

{'colour': 'green', 'conc': 50}
{'colour': 'black', 'conc': 100}
{'colour': 'green', 'conc': 500}

In [289]:
# rather than putting a dictionary inside a list,it's sometimes useful to put a list inside a dictionary.
pizza = {'crust' : 'thick' , 'toppings' : ['mushroom' , 'extra cheese'],}
print(f"you ordered a {pizza['crust']}-crust pizza "  "with the following toppings:")
for topping in pizza['toppings']:
    print("\t" + topping)

you ordered a thick-crust pizza with the following toppings:
	mushroom
	extra cheese

In [295]:
# you can nest a list inside a dictionary any time you want more than one value to be associated with a single KEY in a dictionary.
favorite_nri = {
    'awele' : ['yam' , 'beans'],
    'vincent' : ['noodles'],
    'christian' : ['rice', 'garri'],
    'jude' : ['banga', 'starch'],
}
for name , foods in favorite_nri.items():
    print(f"\n{name.title()}'s favorite_nri are:")
    for food in foods:
        print(f"\t{food.title()}")

Awele's favorite_nri are:
	Yam
	Beans

Vincent's favorite_nri are:
	Noodles

Christian's favorite_nri are:
	Rice
	Garri

Jude's favorite_nri are:
	Banga
	Starch

In [301]:
# You can nest a dictionary inside a dictionary, but your code can become complicated quickly when you do.
roziel_client = {                            
    'malawii' : {
        'first' : 'nnadozie',
        'last' : 'agwulonu',
        'location' : 'ozuoba',
    },
    'rosey' : {
        'first' : 'rosemary',
        'last'  : 'ozua',
        'location' : 'mgbuoba',
    },
}
# we first define a dictionary called roziel_client with two keys, one each for the usernames "malawii" and "rosey"
# the values associated with each key is a dictionary that includes each users first name, last name and location

for username, user_info in roziel_client.items():   # we loop through the roziel_client dictionary
    print(f"\nusername: {username}")          # we print the username at here
    full_name = f"{user_info['first']} {user_info['last']}"  # accessing the inner dictionary
    location = user_info['location']
    print(f"\tfull name: {full_name.title()}")
    print(f"\tlocation: {location.title()}")

username: malawii
	full name: Nnadozie Agwulonu
	location: Ozuoba

username: rosey
	full name: Rosemary Ozua
	location: Mgbuoba

In [302]:
# the input() function pauses your program and waits for the user to enter some text.
# python receives the user's input, it assigns that input to a variable to make it convenient for me to work with.
message = input("what do you think is good for a child to play with:   ") # the prompt or instructions.
(message)
# the response is assigned to the variable "mesage"

what do you think is good for a child to play with:    toys

'toys'

In [304]:
# each time you use the input() function, you should inclue a clear, easy-to-follow prompt that tells the user exactly what kind of information you are lookig for.
name = input("please enter your name:   ")
print(f"\nHello, {name}")

please enter your name:    nnadozie

Hello, nnadozie

In [305]:
# sometimes, prompt are usually more than one line, you can assign the prompt to a variable and pass that variable to the input() function
prompt = "we need to know you, what you do and where stay."
prompt += "\nwhat is your first name ?  "
name = input(prompt)
print(f"\nhello, {name}!")
# you can build a multi line string using using this way

we need to know you, what you do and where stay.
what is your first name ?   nnadozie

hello, nnadozie!

In [306]:
# when you use the input() function to accept an int, python interpret everything as a string
age = input("please tell us your date of birth?  ")
(age)

please tell us your date of birth?   1986

'1986'

In [308]:
age = int(input("please tell us your date of birth?  "))

please tell us your date of birth?   1986

In [309]:
age >= 18

True

In [312]:
# the int() function is a actual program
height = int(input("how tall are you, in inches ? "))
(height)
if height >= 48:
    print("\nyou're tall enough to ride")
else:
    print("\nyou will be able to ride when you are a little older")

how tall are you, in inches ?  60

you're tall enough to ride

In [324]:
restaurant_sitting = int(input("how many people are in their dinner group ? "))
if restaurant_sitting >= 8:
    print(f"\nyou guys will have to wait for a table")
else:
    print(f"\nthe table is ready")

how many people are in their dinner group ?  20

you guys will have to wait for a table

In [313]:
# a useful tool for working with numerical information is the modulo operator (%)
# it divides one number by another number and returns the remainder.
# a modulo operator does not tell you how many times one number fits into another, it tells you what the remainder is.
4 % 3

1

In [314]:
5 % 3

2

In [315]:
6 % 3

0

In [316]:
7 % 3

1

In [317]:
number = int(input("enter a number , and i'll tell you if it's even or odd:  "))
if number % 2 == 0:
    print(f"\nthe number {number} is even. ")
else:
    print(f"\nthe number {number} is odd. ")

enter a number , and i'll tell you if it's even or odd:   31

the number 31 is odd.

In [318]:
number = int(input("enter a number , and i'll tell you if it's even or odd:  "))
if number % 2 == 0:
    print(f"\nthe number {number} is even. ")
else:
    print(f"\nthe number {number} is odd. ")

enter a number , and i'll tell you if it's even or odd:   40

the number 40 is even.

In [319]:
number = int(input("enter a number and i will tell you if it's amultiple of ten: "))
if number % 10 == 0:
    print(f"\nthe number {number} is a multiple of ten. ")
else:
    print(f"\nthe number {number} is not a multiple of ten")

enter a number and i will tell you if it's amultiple of ten:  100

the number 100 is a multiple of ten.

In [ ]:
prompt = "\ntell me something, and i will repeat it back to you:"
prompt += "\nenter 'quit' to end the program. "
message = ""
while message != 'quit':
    message = input(prompt)
print(message)