In [1]:
# Nested Control Statements
#eg 
#a college offers a course that prepares students pharmacy licensing test.
#the college wants to know how well its students did on the exam.
#write a programm to compute the result, a list of 10 students were given.
#write 1 if student passed and 2 if student failed. 

"""using nested control statement to analyze examination results"""

#initialize variables
passes = 0 # number of passes
failures = 0 # number of failures

# process 10 students
for student in range(10):
    # get one exam result
    result = int(input('enter result(1= pass, 2= fail):  '))
    if result == 1:
        passes = passes + 1
    else:
        failures = failures + 1
# termination phase
print('passed:', passes)
print('failed:', failures)

if passes > 8:
    print('bonus to malawii')

# using a for statement to input two integers
# using a nested if...else statemente to display whether each value is even or odd.
# enter 20 and 15 to test my code

for count in range(2):
    value = int(input('enter an integer:  '))
    if value % 2 == 0:
        print(f'{value} is even')
    else:
        print(f'{value} is odd')    
    


# while statement
# this statement allows you to repeat one or more actions while a condition remains True. the statement is called a loop.
# using a while loop to find the first power of 3 larger than 50

numbers = 3
while numbers <= 50:
    numbers = numbers * 3
    print(numbers)    

# for statement allows you to repeat an action or several actions, it perfoms its action for each item in a sequence of items
#for example
for character in "Programming":
    print(character, end = "  ")

#range function create an iterable object that represent a sequence of consecutive
#integer values starting from 0 and continuing up to , but not including, the argument value

for counter in range(10):
    print(counter, end=' ')

total = 0
for numbers in range(15):
    total = total + numbers
    print(total, end= ' ')

enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   2
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1

passed: 9
failed: 1
bonus to malawii

enter an integer:   20

20 is even

enter an integer:   15

15 is odd
9
27
81
P  r  o  g  r  a  m  m  i  n  g  0 1 2 3 4 5 6 7 8 9 0 1 3 6 10 15 21 28 36 45 55 66 78 91 105

In [3]:
# Nested Control Statements
#eg 
#a college offers a course that prepares students pharmacy licensing test.
#the college wants to know how well its students did on the exam.
#write a programm to compute the result, a list of 10 students were given.
#write 1 if student passed and 2 if student failed. 

"""using nested control statement to analyze examination results"""

#initialize variables
passes = 0 # number of passes
failures = 0 # number of failures

# process 10 students
for student in range(10):
    # get one exam result
    result = int(input('enter result(1= pass, 2= fail):  '))
    if result == 1:
        passes = passes + 1
    else:
        failures = failures + 1
# termination phase
print('passed:', passes)
print('failed:', failures)

if passes > 8:
    print('bonus to malawii')

# using a for statement to input two integers
# using a nested if...else statemente to display whether each value is even or odd.
# enter 20 and 15 to test my code

for count in range(2):
    value = int(input('enter an integer:  '))
    if value % 2 == 0:
        print(f'{value} is even')
    else:
        print(f'{value} is odd')    
    


# while statement
# this statement allows you to repeat one or more actions while a condition remains True. the statement is called a loop.
# using a while loop to find the first power of 3 larger than 50

numbers = 3
while numbers <= 50:
    numbers = numbers * 3
    print(numbers)    

# for statement allows you to repeat an action or several actions, it perfoms its action for each item in a sequence of items
#for example
for character in "Programming":
    print(character, end = "  ")

#range function create an iterable object that represent a sequence of consecutive
#integer values starting from 0 and continuing up to , but not including, the argument value

for counter in range(10):
    print(counter, end=' ')

total = 0
for numbers in range(15):
    total = total + numbers
    print(total, end= ' ')

enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   2
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   2
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   2
enter result(1= pass, 2= fail):   2
enter result(1= pass, 2= fail):   2
enter result(1= pass, 2= fail):   1

passed: 5
failed: 5

enter an integer:   20

20 is even

enter an integer:   15

15 is odd
9
27
81
P  r  o  g  r  a  m  m  i  n  g  0 1 2 3 4 5 6 7 8 9 0 1 3 6 10 15 21 28 36 45 55 66 78 91 105

In [4]:
# Range function() has two and three-argument version;
# 1 argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument value.
# 2 argument version produces a sequence of consecutive integers from its first arguments value up to,but not including the second argument value
# 3 argument version produces a sequence of integers from its first argument value up to, but not including the second argument value,incrementing or decrementing(if negative) by the third argument value, which is known as step

for number in range(9, 19):  # 1 argument in range
    print(number, end= ' ')

9 10 11 12 13 14 15 16 17 18

In [5]:
for number in range(1, 10, 3):  # 2 argument in range
    print(number, end= ' ')

1 4 7

In [6]:
for number in range(10, 0, -2): # 3 argument in range
    print(number, end= ' ')

10 8 6 4 2

In [7]:
# what is the value of the total sum of even number between 2 to 500

total = 0
for number in range(2, 101, 2):
    total += number
    print(total, end= " ")

2 6 12 20 30 42 56 72 90 110 132 156 182 210 240 272 306 342 380 420 462 506 552 600 650 702 756 812 870 930 992 1056 1122 1190 1260 1332 1406 1482 1560 1640 1722 1806 1892 1980 2070 2162 2256 2352 2450 2550

In [8]:
## the decimal module defines type decimal and its capabilities.
## to use capabilities from a module, you must first import the entire module; such as import decimal(from decimal import deecimal)

from decimal import Decimal
principal = Decimal('1000.00')
print(principal)

1000.00

In [9]:
rate = Decimal('0.05')
print(rate)

0.05

In [44]:
# a mad man invested #1000 in roziel pharmacy at 5% interest. assuming he didnt request for his principal,calculate the amount at the end of each year for 10years
  
# use a = p(1 + r)^n

for year in range(1, 5):
    amount = principal *(1 + rate)**year
    print(f'{year:>1} {amount:>10.1f}')

1     1050.0
2     1102.5
3     1157.6
4     1215.5

In [47]:
# a tax on a pharmacy is 6.25% and the bill amount is #2500, use type Decimal to calculate the total bill.
# print the result with 2 digits to the rightof the decimal point

from decimal import Decimal
print(f"{Decimal('2500') * Decimal('1.0625'):.2f}")

2656.25

In [48]:
# the break and continue statement alters the loop flow of control.
# executing a break statement in a while loop or for loop immediately exits that statement.

for number in range(1000000):
    if number == 20:
        break
    print(number, end= " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [49]:
for number in range(12):
    if number == 9:
        continue
    print(number, end= " ")

0 1 2 3 4 5 6 7 8 10 11

In [2]:
# the boolean operetor "and" , "or" and "not" are used to combine simple conditions
# the conditional operators > < >= <= and  != can be used to form simple conditions.

# the boolean operator "and"
# it ensurea that two conditions are both true
group = 'adult'
age = 30
if group == 'adult' and age >= 27:
    print('shut up')

shut up

In [3]:
# boolean operator "or"
# it is used to test whether one or both of two conditions are true

pharmacy_test = 60
unn_exam = 80
if pharmacy_test >= 70 or unn_exam >= 70:
    print('students gets a C')

students gets a C

In [4]:
# boolean operator "not" reverses the meaning of a condition - true becomes false and false becomes true
# this is a unary operator
# it has one operand, the not operator is placed before a condition.
grade = 89
if not grade == -1:
    print('the next grade is' , grade)

the next grade is 89

In [7]:
# measures of central tendency produces a single value that represent a central value in a set of values.
# mean is the average value in a set of values
# median is the middle value when all the values are arranged in sorted order
# mode is the most frequent occuring value in a set of values
# 'sum' calculates the total 
# 'len' returns the number of grades

grades = [96, 67, 83, 23, 54, 90, 51]
sum(grades) / len(grades)

66.28571428571429

In [14]:
grades = [96, 67, 83, 90, 54, 90, 51]
statistics.mean(grades)

75.85714285714286

In [15]:
grades = [96, 67, 83, 90, 54, 90, 51]
statistics.median(grades)

83

In [16]:
grades = [96, 67, 83, 90, 54, 90, 51]
statistics.mode(grades)

90

In [17]:
grades = [96, 67, 83, 90, 54, 90, 51]
sorted(grades)

[51, 54, 67, 83, 90, 90, 96]

In [19]:
import statistics
values = [47, 95, 88, 73, 88, 84]
statistics.mean(values)

75.85714285714286

In [20]:
values = [47, 95, 88, 73, 88, 84]
statistics.mode(values)

88

In [21]:
values = [47, 95, 88, 73, 88, 84]
statistics.median(values)

86.0

In [23]:
# defining function begins with the "def" keywords
def square(number):
    """calculate the square of number."""
    return number ** 2
square(7)

49

In [24]:
square(2.5)

6.25

In [25]:
def square_root(number):
    return number ** 0.5 # or number ** (1/2)
square_root(25)

5.0

In [33]:
# functions with multiple parameters
def mininum(value1, value2, value3):
    min_value = value1
    if value2 > min_value:
        min_value = value2
    if value3 > min_value:
        min_value = value3
    return min_value
mininum(12, 27, 36)

36

In [34]:
def mininum(value1, value2, value3):
    min_value = value1
    if value2 > min_value:
        min_value = value2
    if value3 > min_value:
        min_value = value3
    return min_value
mininum(12.3,45.6,9.7)

45.6

In [37]:
def mininum(value1, value2, value3):
    min_value = value1
    if value2 > min_value:
        min_value = value2
    if value3 > min_value:
        min_value = value3
    return min_value
mininum(3,5,7)

7

In [39]:
# random number generation introduces the element of chance in python.
# for example , lets produce 10 random integers in the range 1-6 to stimulate rolling a six-sided die
import random
for roll in range(10):
    print(random.randrange(1, 7), end=' ')

# the randrange function generates an integer from the first argument value(1) up to, but not including the second argument value(7).

6 2 5 1 3 4 2 5 5 2

In [46]:
# LETS TRY ROLLING a six-sided die 6,000,000 times.
import random
# face frequency counters
frequency1 = 0
frequency2 = 0
frequency3 = 0
frequency4 = 0
frequency5 = 0
frequency6 = 0
# 6,000,000 die rolls
for roll in range(6_000_000): # note underscore separators
    face = random.randrange(1, 7)
    # increment appropriate face counter
    if face == 1:
        frequency1 += 1
    elif face == 2:
        frequency2 += 1
    elif face == 3:
        frequency3 += 1
    elif face == 4:
        frequency4 += 1
    elif face == 5:
        frequency5 += 1
    elif face == 6:
        frequency6 += 1
print(f'face{"frequency":>13}')
print(f'{1:>4}{frequency1:>13}') 
print(f'{2:>4}{frequency2:>13}')
print(f'{3:>4}{frequency3:>13}')
print(f'{4:>4}{frequency4:>13}')
print(f'{5:>4}{frequency5:>13}')
print(f'{6:>4}{frequency6:>13}')

# the above script uses nested control statements to determine the number of times each die face appears.
# the 'for' statement iterates 6,000,000 times
# underscore (_) digit separator was used to make the value 6000000 readable
# for each die roll, the script adds 1 to the appropriate counter variable

face    frequency
   1      1001548
   2      1000418
   3       999919
   4      1001249
   5       997999
   6       998867

In [47]:
# seeding the random-number generator for reproducibility.
# the randrange function generates a pseudorandom numbers based on an internal calculation tha begins with a numerical value known as SEED.

random.seed(32)
for roll in range(10):
    print(random.randrange(1, 7), end= ' ')

1 2 2 3 6 2 4 1 6 1

In [48]:
for roll in range(10):
    print(random.randrange(1, 7), end= ' ')
    # this generates a different values because it simply continues the pseudorandom number sequence that began in [47]

1 3 5 3 1 5 6 4 3 5

In [51]:
# eg
# use a for statement, randrange and a conditional expression to stimulate 20 coin flips, displaying H for head and T for tail on the same line.

import random
for j in range(20):
    print('H' if random.randrange(2) == 0 else 'T', end= ' ')

H T T T H T H H T H T T H H T T T H T H

In [60]:
# a two six-sided dice , when the dice come to rest, the sum of the spots on the two upward faces is calculated.
#if the sum is 7 or 11 on the first roll, you win.
# if the sum is 2,3 or 12 on the first roll, you lose.
# if the sum is 4, 5, 6,8,9 or 10 on the first roll, that sum becomes your points.
# to win , you must continue rolling the dice until you make your point.
# you lose by rolling a 7 before making your point.

"""stimulating the dice game"""
import random
def dice_roll():
    """ roll two dice and return their face values as a tuple"""
    die1 = random.randrange(1, 7)
    die2 = random.randrange(1, 7)
    return (die1, die2) # pack die face values into a tuple
def dice_display(dice):
    """display one roll of two dice."""
    die1, die2 = dice  # unpack the tuple into variables die1 and die2
    print(f"player rolled {die1} + {die2} = {sum(dice)}")
die_values = dice_roll() # first roll
dice_display(die_values)
# determin game status and point, based on first roll
sum_of_dice = sum(die_values)
if sum_of_dice in (7, 11): # win
    game_status = "won"
elif sum_of_dice in (2, 3, 12): # lost
    game_status = "lost"
else: # remember point
    game_status = "continue"
    my_point = sum_of_dice
    print("point is ", my_point)
# continue rolling until player wins or loses
while game_status == "CONTINUE":
    die_values = dice_roll()
    dice_display(die_values)
    sum_of_dice = sum(die_values)
    if sum_of_dice == my_point: # win by making points
        game_status = "won"
    elif sum_of_dice == 7: # lost by rolling 7
        game_status = "lost"
# display "wins" or "loses" messages
if game_status == "won":
    print('player wins')
else:
    print('player loses')

player rolled 5 + 3 = 8
point is  8
player loses

In [61]:
# eg
# pack a food tuple with the name nri and the list [90, 76, 81],
# display the tuple, then unpack it into variables name and types, display their class

food = ("nri" , [90, 76, 81])
print(food)

('nri', [90, 76, 81])

In [63]:
name, types = food
print(f"{name}: {types}")

nri: [90, 76, 81]

In [74]:
# a default parameter value is specified following a parameter name with an "=" and a "value"
# any parameter with default parameter values must appear in the parameter list to the right of parameter that do not have defaults.
def rectangle_area(length=2,width=3):
    """return a rectangle's area"""
    return length * width
rectangle_area() # there is no argument here, python uses both default parameters (2, 3)

6

In [76]:
rectangle_area(10) # there is just one argument here (10), arguments are assigned from left to right, so 10 takes the length, 3 takes the width

30

In [77]:
rectangle_area(10, 5) # both arguments are present in this case, python ignores the default parameters

50

In [78]:
# keyword argument can be used to pass argument in any order
def rectangle_area(length, width):
    """return rectangle's area"""
    return length * width
rectangle_area(width=5, length=10) # remember, they do not need to match their position

50

In [83]:
# arbitrary argument list such as built in functions min and max, can receive any number of arguments.
# min has two required parameters (arg1 and arg2) and an optional third parameter of the form *args, indicating that the function can receive any number s additional arguments
# the * before the parameter name tells python to pack any remaining arguments into a tuple that is passed to the args parameter.

min(88, 75, 96, 55, 83) # arg1 receives 88, arg2 receives 75 and *args receives the tuple (96, 55, 83)

# lets define average function that can receive any number of arguments
def average(*args):
    return sum(args) / len(args) 
# the parameter name args is used by convention, if the function has multiple parameter, the *args is the rightmost parameter
average(5, 10)

7.5

In [84]:
average(5, 10, 15)

10.0

In [85]:
average(5, 10, 15, 20)

12.5

In [86]:
# you can unpack a tuples, list or other iterable element to pass them as individual function argument
# the * operator when applied to an iterable argument in a function call, unpacks its element .

medicine_price = [100, 375, 289, 210, 320]
average(*medicine_price)

258.8

In [87]:
# a function name roziel_pharmacy receives an arbitrary argument list and returns the product of all the argument.
# call the function with the argument 50, 80, and 100, the with the sequence of integers by range(1, 8,  2)

def roziel_pharmacy(*apc):
    product = 1
    for value in apc:
        product *= value
    return product
roziel_pharmacy(50, 80, 100)

400000

In [88]:
roziel_pharmacy(*range(1, 8, 2))

105

In [89]:
# the built-in id function is used to obtain a unique int value which identifies only that object while it remains in memory
x = 7
id(x)

140720954991720

In [92]:
# let's try to pass an object to a function
def cube(number):
    print('id(number):', id(number))
    return number **3
cube(x)

id(number): 140720954991720

343

In [93]:
# let's test object idetities with the "is" operator.
# it can prove if the argument and the parameter refer to the same object by displaying "True" if the two operands have the same identity

def cube(number):
    print ('number is x:', number is x) # x is a global varaible
    return number **3
cube(x)

number is x: True

343

In [81]:
# IMMUTABLE objects as arguments; immutable means unmodifiable, 
# when a function receives as an argument reference to an immutable object such as int, float, string or tuple.
# you cannot modify the original immutable objects value.

def cube(number):
    print('id(number) before modifying number:' , id(number))
    number **= 3
    print('id(number) after modifying number:' , id(number))
    return number
cube(3)

id(number) before modifying number: 140720954991592
id(number) after modifying number: 140720954992360

27

In [94]:
# measure of dispersion include finding the variance and standard deviation of a porpulation or sample size.
# to determine the variance, find the mean value, subtract the mean value from the initial value, 
# square the resulting value to get a positive value, finally, calculate the mean of the squares.

import statistics
statistics.pvariance([3,6,8,5,1,7,4,8,2,6])

5.4

In [95]:
# the standard deviation is the square root of the variance
statistics.pstdev([3,6,8,5,1,7,4,8,2,6])

2.32379000772445

In [96]:
# passing the pvariance functions result to the math module sqrt function also confirms the result from the standard deviation

import math
math.sqrt(statistics.pvariance([3,6,8,5,1,7,4,8,2,6]))

2.32379000772445