In [1]:
# Nested Control Statements
#eg 
#a college offers a course that prepares students pharmacy licensing test.
#the college wants to know how well its students did on the exam.
#write a programm to compute the result, a list of 10 students were given.
#write 1 if student passed and 2 if student failed. 

"""using nested control statement to analyze examination results"""

#initialize variables
passes = 0 # number of passes
failures = 0 # number of failures

# process 10 students
for student in range(10):
    # get one exam result
    result = int(input('enter result(1= pass, 2= fail):  '))
    if result == 1:
        passes = passes + 1
    else:
        failures = failures + 1
# termination phase
print('passed:', passes)
print('failed:', failures)

if passes > 8:
    print('bonus to malawii')

# using a for statement to input two integers
# using a nested if...else statemente to display whether each value is even or odd.
# enter 20 and 15 to test my code

for count in range(2):
    value = int(input('enter an integer:  '))
    if value % 2 == 0:
        print(f'{value} is even')
    else:
        print(f'{value} is odd')    
    


# while statement
# this statement allows you to repeat one or more actions while a condition remains True. the statement is called a loop.
# using a while loop to find the first power of 3 larger than 50

numbers = 3
while numbers <= 50:
    numbers = numbers * 3
    print(numbers)    

# for statement allows you to repeat an action or several actions, it perfoms its action for each item in a sequence of items
#for example
for character in "Programming":
    print(character, end = "  ")

#range function create an iterable object that represent a sequence of consecutive
#integer values starting from 0 and continuing up to , but not including, the argument value

for counter in range(10):
    print(counter, end=' ')

total = 0
for numbers in range(15):
    total = total + numbers
    print(total, end= ' ')

enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   2
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1

passed: 9
failed: 1
bonus to malawii

enter an integer:   20

20 is even

enter an integer:   15

15 is odd
9
27
81
P  r  o  g  r  a  m  m  i  n  g  0 1 2 3 4 5 6 7 8 9 0 1 3 6 10 15 21 28 36 45 55 66 78 91 105

In [3]:
# Nested Control Statements
#eg 
#a college offers a course that prepares students pharmacy licensing test.
#the college wants to know how well its students did on the exam.
#write a programm to compute the result, a list of 10 students were given.
#write 1 if student passed and 2 if student failed. 

"""using nested control statement to analyze examination results"""

#initialize variables
passes = 0 # number of passes
failures = 0 # number of failures

# process 10 students
for student in range(10):
    # get one exam result
    result = int(input('enter result(1= pass, 2= fail):  '))
    if result == 1:
        passes = passes + 1
    else:
        failures = failures + 1
# termination phase
print('passed:', passes)
print('failed:', failures)

if passes > 8:
    print('bonus to malawii')

# using a for statement to input two integers
# using a nested if...else statemente to display whether each value is even or odd.
# enter 20 and 15 to test my code

for count in range(2):
    value = int(input('enter an integer:  '))
    if value % 2 == 0:
        print(f'{value} is even')
    else:
        print(f'{value} is odd')    
    


# while statement
# this statement allows you to repeat one or more actions while a condition remains True. the statement is called a loop.
# using a while loop to find the first power of 3 larger than 50

numbers = 3
while numbers <= 50:
    numbers = numbers * 3
    print(numbers)    

# for statement allows you to repeat an action or several actions, it perfoms its action for each item in a sequence of items
#for example
for character in "Programming":
    print(character, end = "  ")

#range function create an iterable object that represent a sequence of consecutive
#integer values starting from 0 and continuing up to , but not including, the argument value

for counter in range(10):
    print(counter, end=' ')

total = 0
for numbers in range(15):
    total = total + numbers
    print(total, end= ' ')

enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   2
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   2
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   1
enter result(1= pass, 2= fail):   2
enter result(1= pass, 2= fail):   2
enter result(1= pass, 2= fail):   2
enter result(1= pass, 2= fail):   1

passed: 5
failed: 5

enter an integer:   20

20 is even

enter an integer:   15

15 is odd
9
27
81
P  r  o  g  r  a  m  m  i  n  g  0 1 2 3 4 5 6 7 8 9 0 1 3 6 10 15 21 28 36 45 55 66 78 91 105

In [4]:
# Range function() has two and three-argument version;
# 1 argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument value.
# 2 argument version produces a sequence of consecutive integers from its first arguments value up to,but not including the second argument value
# 3 argument version produces a sequence of integers from its first argument value up to, but not including the second argument value,incrementing or decrementing(if negative) by the third argument value, which is known as step

for number in range(9, 19):  # 1 argument in range
    print(number, end= ' ')

9 10 11 12 13 14 15 16 17 18

In [5]:
for number in range(1, 10, 3):  # 2 argument in range
    print(number, end= ' ')

1 4 7

In [6]:
for number in range(10, 0, -2): # 3 argument in range
    print(number, end= ' ')

10 8 6 4 2

In [7]:
# what is the value of the total sum of even number between 2 to 500

total = 0
for number in range(2, 101, 2):
    total += number
    print(total, end= " ")

2 6 12 20 30 42 56 72 90 110 132 156 182 210 240 272 306 342 380 420 462 506 552 600 650 702 756 812 870 930 992 1056 1122 1190 1260 1332 1406 1482 1560 1640 1722 1806 1892 1980 2070 2162 2256 2352 2450 2550

In [8]:
## the decimal module defines type decimal and its capabilities.
## to use capabilities from a module, you must first import the entire module; such as import decimal(from decimal import deecimal)

from decimal import Decimal
principal = Decimal('1000.00')
print(principal)

1000.00

In [9]:
rate = Decimal('0.05')
print(rate)

0.05

In [44]:
# a mad man invested #1000 in roziel pharmacy at 5% interest. assuming he didnt request for his principal,calculate the amount at the end of each year for 10years
  
# use a = p(1 + r)^n

for year in range(1, 5):
    amount = principal *(1 + rate)**year
    print(f'{year:>1} {amount:>10.1f}')

1     1050.0
2     1102.5
3     1157.6
4     1215.5

In [47]:
# a tax on a pharmacy is 6.25% and the bill amount is #2500, use type Decimal to calculate the total bill.
# print the result with 2 digits to the rightof the decimal point

from decimal import Decimal
print(f"{Decimal('2500') * Decimal('1.0625'):.2f}")

2656.25

In [48]:
# the break and continue statement alters the loop flow of control.
# executing a break statement in a while loop or for loop immediately exits that statement.

for number in range(1000000):
    if number == 20:
        break
    print(number, end= " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [49]:
for number in range(12):
    if number == 9:
        continue
    print(number, end= " ")

0 1 2 3 4 5 6 7 8 10 11

In [2]:
# the boolean operetor "and" , "or" and "not" are used to combine simple conditions
# the conditional operators > < >= <= and  != can be used to form simple conditions.

# the boolean operator "and"
# it ensurea that two conditions are both true
group = 'adult'
age = 30
if group == 'adult' and age >= 27:
    print('shut up')

shut up

In [3]:
# boolean operator "or"
# it is used to test whether one or both of two conditions are true

pharmacy_test = 60
unn_exam = 80
if pharmacy_test >= 70 or unn_exam >= 70:
    print('students gets a C')

students gets a C

In [4]:
# boolean operator "not" reverses the meaning of a condition - true becomes false and false becomes true
# this is a unary operator
# it has one operand, the not operator is placed before a condition.
grade = 89
if not grade == -1:
    print('the next grade is' , grade)

the next grade is 89

In [7]:
# measures of central tendency produces a single value that represent a central value in a set of values.
# mean is the average value in a set of values
# median is the middle value when all the values are arranged in sorted order
# mode is the most frequent occuring value in a set of values
# 'sum' calculates the total 
# 'len' returns the number of grades

grades = [96, 67, 83, 23, 54, 90, 51]
sum(grades) / len(grades)

66.28571428571429

In [14]:
grades = [96, 67, 83, 90, 54, 90, 51]
statistics.mean(grades)

75.85714285714286

In [15]:
grades = [96, 67, 83, 90, 54, 90, 51]
statistics.median(grades)

83

In [16]:
grades = [96, 67, 83, 90, 54, 90, 51]
statistics.mode(grades)

90

In [17]:
grades = [96, 67, 83, 90, 54, 90, 51]
sorted(grades)

[51, 54, 67, 83, 90, 90, 96]

In [19]:
import statistics
values = [47, 95, 88, 73, 88, 84]
statistics.mean(values)

75.85714285714286

In [20]:
values = [47, 95, 88, 73, 88, 84]
statistics.mode(values)

88

In [21]:
values = [47, 95, 88, 73, 88, 84]
statistics.median(values)

86.0

In [23]:
# defining function begins with the "def" keywords
def square(number):
    """calculate the square of number."""
    return number ** 2
square(7)

49

In [24]:
square(2.5)

6.25